.landing-section {
  background-color: var(--bgColor);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  visibility: hidden;

  .cursor {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 3px solid rgb(206, 54, 54);
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
  }

  .left-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    justify-content: center;
    .text-container {
      position: relative;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      .header-text {
        font-weight: 400;
        color: var(--textColor);
        font-size: calc(1vw + 7rem);
        transform: translateY(100%);
      }
    }
    .button-container {
      display: flex;
      align-items: center;
      .line {
        width: 0%;
        height: 3px;
        background-color: var(--textColor);
      }

      .line-button {
        opacity: 0;
        height: 100%;
        width: 75%;
        font-size: 2.5rem;
        cursor: pointer;
        margin-left: 2rem;
        color: rgb(206, 54, 54);

        transition: all 0.2s ease;
      }
    }

    .moto-section {
      display: flex;
      flex-direction: column;

      .moto-text {
        color: white;
        opacity: 0;
        margin-bottom: 0.2rem;
        font-size: calc(1vw + 1rem);
        transform: translateX(-40px);
      }
    }
  }

  .ideas-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: var(--textColor);
    height: 100vh;

    cursor: pointer;
    .test {
      font-size: 10rem;
    }
  }
}
